/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 88, 151, 0.863);
  }
  
  .material-icons {
    color: rgba(0, 0, 0, 0.81) !important;
  }
  